# pdfs
*.pdf

# images
alzheimer_classifier/images/

# coefficients
alzheimer_classifier/svm/coefficients
alzheimer_classifier/svm/coefficients_selected

# raw arrays
alzheimer_classifier/cnn/reshaped_images

# binaries
*.npy
*.h5

# python 
__pycache__
